@if (loading) {
  <list-loading />
} @else {
  <h1>See all Photos</h1>
  <p class="mb-4">The best photos around the world are here</p>

  <form
    class="d-flex justify-content-between justify-content-md-start gap-3 mb-4 w-full"
    (submit)="onSubmit($event)"
  >
    <div class="position-relative">
      <input
        type="text"
        class="form-control"
        id="search"
        placeholder="Search by title"
        [formControl]="searchQuery"
      />
      <icon-search class="position-absolute top-50 end-0 translate-middle-y me-3" />
    </div>

    <div class="position-relative">
      <select class="form-select" aria-label="Sort by" id="sort" [formControl]="sortQuery">
        <option selected value="DEFAULT">Default</option>
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
      </select>
      <icon-sort class="position-absolute top-50 end-0 translate-middle-y me-3" />
    </div>
  </form>

  <div class="photo-container">
    @for (photo of photos(); track $index) {
      <div class="card h-100">
        <div class="card-body text-secondary d-flex flex-column gap-3 align-items-center">
          <img
            [src]="'https://picsum.photos/id/' + photo.id + '/300/300'"
            [alt]="photo.title"
            loading="lazy"
          />
          <a [routerLink]="['/photos/' + photo.id]" class="h6 text-decoration-none photo-title">
            {{ photo.title }}
          </a>
        </div>
      </div>
    }
  </div>

  @if (totalPhoto) {
    <div class="d-flex justify-content-center mt-5">
      <ngb-pagination
        [(page)]="currPage"
        [pageSize]="pageSize"
        [collectionSize]="totalPhoto"
        [maxSize]="3"
      />
    </div>
  }
}
