.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.form-select {
  background-image: none;
}

img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}
