<button class="back" (click)="back()"><icon-arrow-left /> Back</button>

@if (loading) {
  <list-loading />
} @else {
  <filter [search]="search" [sort]="sort" (applyFilters)="applyFilters($event)" />

  <div class="photo-container">
    @for (photo of photos(); track $index) {
      <div class="card h-100">
        <div class="card-body text-secondary d-flex flex-column gap-3 align-items-center">
          <img
            [src]="'https://picsum.photos/id/' + photo.id + '/300/300'"
            [alt]="photo.title"
            loading="lazy"
          />
          <a [routerLink]="['/photos/' + photo.id]" class="h6 text-decoration-none photo-title">
            {{ photo.title }}
          </a>
        </div>
      </div>
    }
  </div>

  @if (totalPhoto) {
    <div class="d-flex justify-content-center mt-5">
      <ngb-pagination
        [(page)]="currPage"
        [pageSize]="pageSize"
        [collectionSize]="totalPhoto"
        [maxSize]="3"
      />
    </div>
  }
}
