@if (loading) {
  <list-loading />
} @else {
  <h1>See all Albums</h1>
  <p class="mb-4">Where the memories saved</p>

  <filter [search]="search" [sort]="sort" (applyFilters)="applyFilters($event)" />

  <div class="album-container">
    @for (album of albums(); track $index) {
      <div class="card h-100 album-card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
          style="font-size: 0.875rem"
        >
          @let author = getPostAuthor(album.userId);

          <span class="d-flex gap-2 align-items-center">
            <icon-circle-user />
            <a [routerLink]="['/users/' + album.userId]" class="text-decoration-none">
              {{ author }}
            </a>
          </span>
        </div>

        <div class="card-body text-secondary d-flex flex-column gap-3 align-items-center">
          <div class="album-preview">
            <img
              [src]="'https://picsum.photos/id/' + album.id + '/150/150'"
              alt=""
              role="presentation"
              loading="lazy"
            />
            <img
              [src]="'https://picsum.photos/id/' + (album.id + 10) + '/150/150'"
              alt=""
              role="presentation"
              loading="lazy"
            />
          </div>

          <a
            [routerLink]="['/albums/' + album.id]"
            class="h6 text-decoration-none text-max-lines-1 mb-0"
          >
            {{ album.title }}
          </a>
        </div>
      </div>
    }
  </div>

  @if (totalAlbum) {
    <div class="d-flex justify-content-center mt-5">
      <ngb-pagination
        [(page)]="currPage"
        [pageSize]="pageSize"
        [collectionSize]="totalAlbum"
        [maxSize]="3"
      />
    </div>
  }
}
