<h1>See all album</h1>

<div class="d-flex gap-3 align-items-end mb-4">
  <div>
    <label for="search" class="form-label">Search</label>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Enter album title"
      [formControl]="query"
    />
  </div>

  <div>
    <label for="sort" class="form-label">Sort</label>
    <select class="form-select" aria-label="Sort by" id="sort" [formControl]="sort">
      <option selected value="DEFAULT">Default</option>
      <option value="ASC">Ascending</option>
      <option value="DESC">Descending</option>
    </select>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @for (album of albums(); track $index) {
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5>{{ album.title }}</h5>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@if (totalAlbum) {
  <div class="d-flex justify-content-center mt-4">
    <ngb-pagination
      [(page)]="currPage"
      [pageSize]="pageSize"
      [collectionSize]="totalAlbum"
      [maxSize]="4"
    />
  </div>
}
